
#nap82_0{
                left:848px;
                top:22px;
                width:400px;
                height:439px;
                z-index:0;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                opacity:1.0;
                filter:alpha(opacity=100);
                background-color:#FFFFFF;
                margin:0;
                padding:0;
}
                
#nap82_1_0_0{
                left:896px;
                top:62px;
                width:77px;
                height:79px;
                z-index:0;
                border:0px solid;
}

#nap82_1_0_0table{
                left:896px;
                top:62px;
                width:77px;
                height:79px;
                z-index:1;
                display:none;
}

#nap82_1_0_0label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_1{
                left:896px;
                top:256px;
                width:77px;
                height:79px;
                z-index:1;
                border:0px solid;
}

#nap82_1_0_1table{
                left:896px;
                top:256px;
                width:77px;
                height:79px;
                z-index:2;
                display:none;
}

#nap82_1_0_1label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_2{
                left:898px;
                top:159px;
                width:77px;
                height:79px;
                z-index:2;
                border:0px solid;
}

#nap82_1_0_2table{
                left:898px;
                top:159px;
                width:77px;
                height:79px;
                z-index:3;
                display:none;
}

#nap82_1_0_2label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_3{
                left:992px;
                top:62px;
                width:77px;
                height:79px;
                z-index:3;
                border:0px solid;
}

#nap82_1_0_3table{
                left:992px;
                top:62px;
                width:77px;
                height:79px;
                z-index:4;
                display:none;
}

#nap82_1_0_3label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_4{
                left:992px;
                top:256px;
                width:77px;
                height:79px;
                z-index:4;
                border:0px solid;
}

#nap82_1_0_4table{
                left:992px;
                top:256px;
                width:77px;
                height:79px;
                z-index:5;
                display:none;
}

#nap82_1_0_4label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_5{
                left:994px;
                top:159px;
                width:77px;
                height:79px;
                z-index:5;
                border:0px solid;
}

#nap82_1_0_5table{
                left:994px;
                top:159px;
                width:77px;
                height:79px;
                z-index:6;
                display:none;
}

#nap82_1_0_5label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_6{
                left:1088px;
                top:62px;
                width:77px;
                height:79px;
                z-index:6;
                border:0px solid;
}

#nap82_1_0_6table{
                left:1088px;
                top:62px;
                width:77px;
                height:79px;
                z-index:7;
                display:none;
}

#nap82_1_0_6label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_7{
                left:1088px;
                top:256px;
                width:77px;
                height:79px;
                z-index:7;
                border:0px solid;
}

#nap82_1_0_7table{
                left:1088px;
                top:256px;
                width:77px;
                height:79px;
                z-index:8;
                display:none;
}

#nap82_1_0_7label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_8{
                left:1090px;
                top:159px;
                width:77px;
                height:79px;
                z-index:8;
                border:0px solid;
}

#nap82_1_0_8table{
                left:1090px;
                top:159px;
                width:77px;
                height:79px;
                z-index:9;
                display:none;
}

#nap82_1_0_8label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap82_1_0_9{
                left:896px;
                top:31px;
                width:190.3px;
                height:21px;
                z-index:9;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#containernap82_1_1{
                left:954px;
                top:62px;
                width:19px;
                height:22px;
                z-index:1;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#containernap82_1_2{
                left:1050px;
                top:62px;
                width:19px;
                height:22px;
                z-index:2;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#containernap82_1_3{
                left:1146px;
                top:159px;
                width:19px;
                height:22px;
                z-index:3;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#containernap82_1_4{
                left:1146px;
                top:62px;
                width:19px;
                height:22px;
                z-index:4;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#containernap82_1_5{
                left:1146px;
                top:256px;
                width:19px;
                height:22px;
                z-index:5;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#containernap82_1_6{
                left:954px;
                top:256px;
                width:19px;
                height:22px;
                z-index:6;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#containernap82_1_7{
                left:954px;
                top:159px;
                width:19px;
                height:22px;
                z-index:7;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#containernap82_1_8{
                left:1050px;
                top:256px;
                width:19px;
                height:22px;
                z-index:8;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#containernap82_1_9{
                left:1050px;
                top:159px;
                width:19px;
                height:22px;
                z-index:9;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#nap82_2{
                left:936px;
                top:401px;
                width:190px;
                height:27px;
                z-index:2;
}
                
#nap82_3{
                left:1176px;
                top:311px;
                width:48px;
                height:27px;
                z-index:3;
}
                
#containernap83_0{
                left:1565px;
                top:124px;
                width:19px;
                height:22px;
                z-index:0;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#nap83_1{
                left:1263px;
                top:22px;
                width:400px;
                height:429px;
                z-index:1;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                opacity:1.0;
                filter:alpha(opacity=100);
                background-color:#FFFFFF;
                margin:0;
                padding:0;
}
                
#nap83_2{
                left:1278px;
                top:61px;
                z-index:2;
                opacity:1.0;
                filter:alpha(opacity=100);
}
                
#nap83_3{
                left:1342px;
                top:84px;
                width:85px;
                height:63px;
                z-index:3;
}
#nap83_3 i{
                font-size:63px;
}
#nap83_3 img{
                width:24px;
                height:24px;
                border:0px solid;
}
#nap83_3 td{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                border:0;
                text-align:center;
}
                
#nap83_4{
                left:1342px;
                top:152px;
                width:85px;
                height:63px;
                z-index:4;
}
#nap83_4 i{
                font-size:63px;
}
#nap83_4 img{
                width:24px;
                height:24px;
                border:0px solid;
}
#nap83_4 td{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                border:0;
                text-align:center;
}
                
#nap83_5{
                left:1342px;
                top:224px;
                width:85px;
                height:63px;
                z-index:5;
}
#nap83_5 i{
                font-size:63px;
}
#nap83_5 img{
                width:24px;
                height:24px;
                border:0px solid;
}
#nap83_5 td{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                border:0;
                text-align:center;
}
                
#nap83_6{
                left:1344px;
                top:294px;
                width:85px;
                height:63px;
                z-index:6;
}
#nap83_6 i{
                font-size:63px;
}
#nap83_6 img{
                width:24px;
                height:24px;
                border:0px solid;
}
#nap83_6 td{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                border:0;
                text-align:center;
}
                
#nap83_7{
                left:1532px;
                top:96px;
                width:105px;
                z-index:7;
                font-size: 10px;
}
                
#nap83_8{
                left:1528px;
                top:167px;
                width:105px;
                z-index:8;
                font-size: 10px;
}
                
#nap83_9{
                left:1528px;
                top:237px;
                width:105px;
                z-index:9;
                font-size: 10px;
}
                
#nap83_10{
                left:1528px;
                top:308px;
                width:105px;
                z-index:10;
                font-size: 10px;
}
                
#nap83_11{
                left:1417px;
                top:87px;
                width:105px;
                height:41px;
                z-index:11;
                color:#000000;
                background-color:#FFFFFF;
                opacity:1.0;
                filter:alpha(opacity=100);
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap83_12{
                left:1418px;
                top:153px;
                width:105px;
                height:41px;
                z-index:12;
                color:#000000;
                background-color:#FFFFFF;
                opacity:1.0;
                filter:alpha(opacity=100);
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap83_13{
                left:1417px;
                top:229px;
                width:105px;
                height:41px;
                z-index:13;
                color:#000000;
                background-color:#FFFFFF;
                opacity:1.0;
                filter:alpha(opacity=100);
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap83_14{
                left:1417px;
                top:299px;
                width:105px;
                height:41px;
                z-index:14;
                color:#000000;
                background-color:#FFFFFF;
                opacity:1.0;
                filter:alpha(opacity=100);
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap83_15{
                left:1427px;
                top:94px;
                width:56px;
                height:13px;
                z-index:15;
}
                
#nap83_16{
                left:1427px;
                top:163px;
                width:56px;
                height:10px;
                z-index:16;
}
                
#nap83_17{
                left:1427px;
                top:237px;
                width:56px;
                height:10px;
                z-index:17;
}
                
#nap83_18{
                left:1427px;
                top:306px;
                width:56px;
                height:10px;
                z-index:18;
}
                
#nap83_19{
                left:1422px;
                top:104px;
                width:25.3px;
                height:21px;
                z-index:19;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap83_20{
                left:1342px;
                top:61px;
                width:77px;
                height:21px;
                z-index:20;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap83_21{
                left:1418px;
                top:61px;
                width:114.4px;
                height:21px;
                z-index:21;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap83_22{
                left:1528px;
                top:61px;
                width:122.10000000000001px;
                height:21px;
                z-index:22;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap83_23{
                left:1386px;
                top:400px;
                width:236px;
                height:27px;
                z-index:23;
}
                
#nap163_0{
                left:440px;
                top:22px;
                width:402px;
                height:429px;
                z-index:0;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                opacity:1.0;
                filter:alpha(opacity=100);
                background-color:#FFFFFF;
                margin:0;
                padding:0;
}
                
#nap163_1{
                left:681px;
                top:97px;
                z-index:1;
                width:128px;
                height:62px;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#nap163_2{
                left:486px;
                top:97px;
                width:84.7px;
                height:21px;
                z-index:2;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap163_3{
                left:486px;
                top:160px;
                width:114.4px;
                height:21px;
                z-index:3;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap163_4{
                left:474px;
                top:257px;
                width:137.5px;
                height:21px;
                z-index:4;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap163_5{
                left:681px;
                top:169px;
                z-index:5;
                width:128px;
                height:78px;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#nap163_6{
                left:601px;
                top:398px;
                width:120px;
                height:27px;
                z-index:6;
}
                
#nap163_7{
                left:611px;
                top:87px;
                width:54px;
                height:70px;
                z-index:7;
                border:0px solid;
}

#nap163_7table{
                left:611px;
                top:87px;
                width:54px;
                height:70px;
                z-index:8;
                display:none;
}

#nap163_7label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap163_8{
                left:611px;
                top:169px;
                width:54px;
                height:70px;
                z-index:8;
                border:0px solid;
}

#nap163_8table{
                left:611px;
                top:169px;
                width:54px;
                height:70px;
                z-index:9;
                display:none;
}

#nap163_8label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap163_9{
                left:611px;
                top:247px;
                width:54px;
                height:70px;
                z-index:9;
                border:0px solid;
}

#nap163_9table{
                left:611px;
                top:247px;
                width:54px;
                height:70px;
                z-index:10;
                display:none;
}

#nap163_9label{
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap150_0{
                left:17px;
                top:14px;
                width:400px;
                height:479px;
                z-index:0;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                opacity:1.0;
                filter:alpha(opacity=100);
                background-color:#FFFFFF;
                margin:0;
                padding:0;
}
                
#nap150_1{
                left:50px;
                top:62px;
                width:84.7px;
                height:21px;
                z-index:1;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap150_2{
                left:168px;
                top:62px;
                width:199px;
                z-index:2;
                background-color:#FFFFFF;
                color:#000000;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
}
                
#nap150_3{
                left:50px;
                top:94px;
                width:84.7px;
                height:21px;
                z-index:3;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap150_4{
                left:50px;
                top:166px;
                width:110.00000000000001px;
                height:21px;
                z-index:4;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap150_5{
                left:168px;
                top:98px;
                width:199px;
                z-index:5;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#nap150_6{
                left:168px;
                top:166px;
                z-index:6;
}
#nap150_6dp{
                width:181px;
                z-index:6;
}
                
#nap150_7{
                left:50px;
                top:202px;
                width:110.00000000000001px;
                height:21px;
                z-index:7;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap150_8{
                left:168px;
                top:195px;
                width:164px;
                height:24px;
                z-index:8;
}
                
#nap150_9{
                left:50px;
                top:281px;
                width:101.2px;
                height:21px;
                z-index:9;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap150_10{
                left:245px;
                top:272px;
                z-index:10;
                width:81px;
                height:84px;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#nap150_11{
                left:127px;
                top:407px;
                width:120px;
                height:27px;
                z-index:11;
}
                
#nap150_12{
                left:50px;
                top:238px;
                width:110.00000000000001px;
                height:21px;
                z-index:12;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
                text-align:left;
                color:#000000;
}
                
#nap150_13{
                left:168px;
                top:233px;
                width:148px;
                height:21px;
                z-index:13;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;
}
                
#nap150_14{
                left:157px;
                top:281px;
                width:74px;
                height:41px;
                z-index:14;
}
                
#nap150_15{
                left:246px;
                top:29px;
                width:150px;
                height:21px;
                z-index:15;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;                
}
#nap150_16{
                left:246px;
                top:29px;
                width:150px;
                height:21px;
                z-index:15;
                font-size: 14px;
                font-style:normal;
                font-weight:normal;
                text-decoration:none;                
}
#slider-range{
	width:350px;
	height:12px;
}                
.ui-grid-a > :nth-child(n) {
	width: 25%;
	margin-right: 10px;
	margin-left: 10px;
}